.banner {
  background-image: url(https://i.ibb.co/ccxFKXf/francesca-tirico-z-Yx5rjk8df-U-unsplash.jpg);
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  padding: 180px;
  font-weight: 500;
  background-size: cover;
}
.banner-text {
  font-family: "Anton", sans-serif;
}
